@import './style.css';

h1{
    margin: 1%;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--titleFont);
}
.containers{
    margin: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
h2{
    font-family: var(--titleFont);
    font-size: 1.6rem;
}
article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: var(--secondBackground);
    color:var(--light);
    padding: 5.5rem 2.5rem;
    border-radius: 1.5rem;
    gap:1.5vw;
    font-size: bold;
    text-align: center;
    width: 10rem;    
}
article>.membership{
    text-align: center;
    margin-top: -10%;
    letter-spacing: .05em;
    text-transform: uppercase;
    background-color: var(--secondBackground);
}
p{
    background-color: var(--secondBackground);
    height:12rem;

}
.select {
    font-family: var(--impactFont);
    background-color: #BEF903;
    color: black;
    font-size: 1.2rem;
    padding: .5rem .5rem;
    border: solid .2rem #c0f9036e;
    cursor: pointer;
    border-radius: 25px;
    text-transform: uppercase;
    transition: 0.3s;
  }
  .select:hover {
    transform: scale(1.2);
    background-color: rgb(39, 39, 39);
    color:white;
  }
  img.offer{
    width: 8%;
    position: absolute;
    border-radius: 100%;
    top:60%;
    left:85%;
    rotate:-8deg;
  }
  
  
