:root {
    --primaryColor: #8BBD8B;
    --secondColor: #3C787E;
    --titleFont: Merriweather Sans, sans-serif;
    --secondaryFont: Arial, sans-serif;
    --logo: url(assets/logo2.png);
    --lightText: white;
    --darkText:black;
}

* {
    background-color: var(--primaryColor);
    font-family: var(--titleFont);
    margin:0;
}

header {
    background-color: var(--secondColor);
    display: flex;
    flex-direction: row;
    min-height: 75px;
    justify-content: space-around;
    margin-top: 1%;
}

.logo {
    background-image: var(--logo);
    background-color: var(--secondColor);
    background-repeat: no-repeat;
    background-size: contain;
    width: 15%;
    margin-left: -5%;
}

ul {
    background-color: var(--secondColor);
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 38px;
    background-color: var(--secondColor);
    margin: 0px;
}

a {
    color: white;
    text-align: center;
    padding: 23px 75px;
    text-decoration: none;
    font-size: 24px;
    background-color: var(--secondColor);
    margin: 0px;
}


a.active {
    filter: brightness(85%);
    padding: auto;
}
