:root {
    --primary-color: #8BBD8B;
    --secundary-color: #3C787E;
    --title-font: Merriweather Sans, sans-serif;
    --secondary-font: Arial, sans-serif;
    --logo: url(assets/logo.png);
}

* {
    background-color: var(--primary-color);
    font-family: var(--title-font);
}

header {
    background-color: var(--secundary-color);
    display: flex;
    flex-direction: row;
    height: 150px;
    border-radius: 38px;
    justify-content: center;
    margin-inline: 10%;
}

.logo {
    background-image: var(--logo);
    background-color: var(--secundary-color);
    background-repeat: no-repeat;
    background-size: contain;
    width: 15%;
    margin-left: -5%;
}

ul {
    background-color: var(--secundary-color);
    width: max-content;
    display: flex;
    align-items: center;
    border-radius: 38px;
    background-color: var(--secundary-color);
    margin: 0px;
}

a {
    color: white;
    text-align: center;
    padding: 56px 75px;
    text-decoration: none;
    font-size: 24px;
    background-color: var(--secundary-color);
    margin: 0px;
}

/*a.active {
    background-color: var(--primary-color);
    padding: 75px;
}
#8BBD8B;
3C787E