@import './style.css';

h1{
    margin: 5%;
    text-align: center;
}
.containers{
    margin: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: var(--secondBackground);
    color:var(--light);
    padding: 7rem 2.5rem;
    border-radius: 1.5rem;
    gap:1.5vw;
    font-size: bold;
    text-align: center;
    width: 10rem;
}
article>.membership{
    text-align: center;
    margin-top: -10%;
    letter-spacing: .05em;
    text-transform: uppercase;
    background-color: var(--secondBackground);
}
p{
    background-color: var(--secondBackground);
    height:12rem;

}
.select {
    font-family: var(--impactFont);
    background-color: #e6d705;
    color: black;
    font-size: .9rem;
    padding: 1rem 1rem;
    border: solid .05rem #e6d70580;
    cursor: pointer;
    border-radius: 25px;
    text-transform: uppercase;
    transition: 0.3s;
  }
  .select:hover {
    transform: scale(1.2);
    background-color: rgb(39, 39, 39);
    color:white;
  }