/*3C787E*/
:root {
    --primaryColor: #8BBD8B;
    --secondColor: #3C787E;
    --titleFont: Merriweather Sans, sans-serif;
    --textFont: Arial, sans-serif;
    --logo: url(assets/logo3.png);
    --light: white;
    --dark:black;
    --impactFont:Impact, sans-serif;
}

* {
    font-family: var(--textFont);
    margin:0;
}
body{
    background-color: var(--primaryColor);
}
header {
    background-color: var(--secondColor);
    display: flex;
    flex-direction: row;
    min-height: 4.2rem;
    justify-content: space-around;
}

.logo {
    background-image: var(--logo);
    background-color: var(--secondColor);
    background-repeat: no-repeat;
    background-size: contain;
    width: 15%;
    margin-left: -5%;
    cursor:pointer;
}

ul {
    background-color: var(--secondColor);
    color: ;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 38px;
    background-color: var(--secondColor);
    margin: 0px;
}

a {
    color: var(--light);
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
    font-size: 24px;
    background-color: var(--secondColor);
    margin: 0px;
}


a.active {
    background-color: #020d0e56;
    padding: auto;
}
