:root {
    --primary-color: #8BBD8B;
    --secundary-color: #3C787E;
    --title-font: Merriweather Sans, sans-serif;
    --secondary-font: Arial, sans-serif;
}

* {
    background-color: var(--primary-color);
    font-family: var(--title-font);
}

header {
    background-color: var(--secundary-color);
    display: flex;
    flex-direction: row;
    height: 150px;
    border-radius: 38px;
    justify-content: space-between;
}

.logo {
    background-image: url(assets/logo.png);
    background-color: var(--secundary-color);
    background-repeat: no-repeat;
    background-size: contain;
    width: 27%;
    border-radius: 38px;
}